dwm/dwm
dwm/*.o
dwm/.ccls-cache/
dwm/compile_commands.json
dwm/.cache
dwm/statusbar/temp
dwm/result/



/omz/.idea/
/omz/.vscode/
/omz/node_modules/
/omz/dist/
/omz/tmp/
/omz/temp/
/omz/logs/
/omz/*.log
/omz/**/dump.rdb
/omz/**/.DS_Store
/omz/cache/


# Build files
/picom/make.sh
/picom/.deps
/picom/aclocal.m4
/picom/autom4te.cache
/picom/config.log
/picom/config.status
/picom/configure
/picom/depcomp
/picom/install-sh
/picom/missing
/picom/stamp-h1
/picom/compton
/picom/*.o
/picom/*.d
/picom/build/
/picom/compile_commands.json
/picom/build.ninja
/picom/
/picom/# language servers
/picom/.ccls-cache
/picom/.clangd
/picom/.cache
/picom/
/picom/# CMake files
/picom/compton-*.deb
/picom/compton-*.rpm
/picom/compton-*.tar.bz2
/picom/release/
/picom/_CPack_Packages/
/picom/CMakeCache.txt
/picom/CMakeFiles/
/picom/cmake_install.cmake
/picom/CPackSourceConfig.cmake
/picom/install_manifest.txt
/picom/
/picom/
/picom/# Vim files
/picom/.sw[a-z]
/picom/.*.sw[a-z]
/picom/*~
/picom/
/picom/# Misc files
/picom/core.*
/picom/.gdb_history
/picom/oprofile_data/
/picom/compton.plist
/picom/callgrind.out.*
/picom/man/*.html
/picom/man/*.1
/picom/doxygen/
/picom/.clang_complete
/picom/.ycm_extra_conf.py
/picom/.ycm_extra_conf.pyc
/picom//src/backtrace-symbols.[ch]
/picom//compton*.trace
/picom/*.orig
/picom//tests/log
/picom//tests/testcases/__pycache__/



/st/*.orig
/st/*.rej
/st/*.o
/st/st
